<div class="card" (click)="toggleExpand()">
  <div class="card-info">
    <div class="date-container" [ngClass]="{'greyBackground': tbc, 'colourBackground': !tbc }">
      <div *ngIf="!tbc" class="day">{{day}}</div>
      <div *ngIf="!tbc" class="month">{{month}}</div>
      <div *ngIf="tbc" class="tbc">TBC</div>
    </div>
    <div class="event-main-container">
      <div class="event-container">
        <div class="event-name">{{eventName}}</div>
        <div class="location-container">
          <div class="location-icon"></div>
          <div class="location-name">{{where}}</div>
        </div>
      </div>
      <div class="down-arrow-container">
        <div class="down-arrow" [ngClass]="{'rotate': expand}"></div>
      </div>
    </div>
  </div>
  <div class="event-description-container" *ngIf="expand" [@enterAnimation]>
    <div class="event-description">{{what}}</div>
  </div>
</div>


