@import '../../common-styles';

.card {
  height: fit-content;
  width: 80%;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  @media screen and (max-device-width: 480px) {
    width: 100%;
  }
}

.card-info {
  height: 100%;
  display: flex;
  flex-direction: row;
}


.date-container {
  width: 15%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;

  @media screen and (max-device-width: 480px) {
    width: 20%;
  }
}

.day {
  font-size: 3rem;
  text-align: center;
  color: white;
  height: 50%;
  width: 100%;

  @media screen and (max-device-width: 480px) {
    font-size: 2rem;
  }
}

.month {
  font-size: 2rem;
  text-align: center;
  color: white;
  height: 50%;
  width: 100%;

  @media screen and (max-device-width: 480px) {
    font-size: 1rem;
  }
}

.colourBackground {
  background-color: cornflowerblue;
}

.greyBackground {
  background-color: $dark-grey;
}

.tbc {
  font-size: 3.5rem;
  color: white;

  @media screen and (max-device-width: 480px) {
    font-size: 1.5rem;
  }
}

.event-container {
  width: 95%;
  max-height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: start;
  justify-content: center;
}

.event-main-container {
  width: 85%;
  max-height: 100%;
  display: flex;
  flex-direction: row;

  @media screen and (max-device-width: 480px) {
    width: 80%;
  }
}

.down-arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
}

.down-arrow {
  height: 70%;
  width: 70%;
  background-image: url('../../../assets/img/drop-down-arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.event-name {
  font-size: 2rem;
  color: black;
  font-weight: bold;

  @media screen and (max-device-width: 480px) {
    font-size: 1.5rem;
  }
}

.location-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.location-icon {
  width: 35px;
  height: 35px;
  background-size: contain !important;
  background: url('../../../assets/img/placeholder.png') no-repeat;
  margin-right: 5px;

  @media screen and (max-device-width: 480px) {
    width: 20px;
    height: 20px;  }
}

.location-name {
  font-size: 1.5rem;
  color: black;

  @media screen and (max-device-width: 480px) {
    font-size: 1rem;
  }
}

.location-description {
  font-size: 1rem;
  color: black;
}

.event-description-container{
  height: fit-content;
  width: 100%;
  padding: 10px;
  background-color: transparent;
}

.event-description {
  text-align: start;
}

.rotate {
  background-image: url('../../../assets/img/drop-up-arrow.png')
}
