<div class="info-item-container">
  <button class="info-item-title infoAccordion">{{eventName}}</button>
  <div class="panel">
    <div class="info-item-text-container">
      <p class="bold">When: </p>
      <p class="text">{{when}}</p>
    </div>
    <div class="info-item-text-container">
      <p class="bold">Where: </p>
      <p class="text">{{where}}</p>
    </div>
    <div class="info-item-text-container">
      <p class="bold">What: </p>
      <p class="text">{{what}}</p>
    </div>
  </div>
</div>
