<div class="main-container">
  <h1 class="heading-primary">
    <span class="heading-primary-main">FAQ</span>
  </h1>
  <div class="column">
    <button class="accordion">Section 1</button>
    <div class="panel">
      <p>Lorem ipsum...</p>
    </div>

    <button class="accordion">Section 2</button>
    <div class="panel">
      <p>Lorem ipsum...</p>
    </div>

    <button class="accordion">Section 3</button>
    <div class="panel">
      <p>Lorem ipsum...</p>
    </div>
  </div>
</div>


