@import '../common-styles';

.heading-primary {
  text-align: center;
  color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;

  @media screen and (max-device-width: 480px) {
    display: none;
  }
}

.heading-primary-main {
  display: block;
  font-size: 10vw;
  font-weight: 400;
  letter-spacing: 1vw;
  animation: moveInLeft 1s ease-out;
  font-family: $primary-font;
}

.header {
  width: 100%;
  height: 40vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-top: 30px;
}

.line {
  height: 0;
  width: 20%;
  border: 2px solid black;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 999;
}

.accordion {
  color: black;
  background-color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  font-size: 1.5rem;

  @media screen and (max-device-width: 480px) {
    font-size: 1rem;
  }
}

.active, .accordion:hover {
  background-color: lightgrey;
}

.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 1.5rem;
  padding-right: 20px;

  @media screen and (max-device-width: 480px) {
    font-size: 1rem;
  }
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: $pink;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.panelExpand {
  max-height: fit-content;
}

.accordian-container {
  border: 2px solid black;
  margin-bottom: 10px;
}

.faq-message-container {
  display: flex;
  height: 65vh;
  width: 100%;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.avatar-container {
  display: flex;
  width: 100%;
  height: 40%;;
  flex-direction: row;
  margin-bottom: 30px;
}

.message-container {
  height: 60%;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.ro-avatar,
.raji-avatar {
  width: 50%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.ro-avatar {
  background-position-x: right;
  background-image: url('../../assets/img/ro_avatar5.png');
}

.raji-avatar {
  background-image: url('../../assets/img/raji_avatar6.png');
}

.message {
  font-size: 2rem;

  @media screen and (max-device-width: 480px) {
    font-size: 1rem;
  }
}
