<div class="main-container">
  <div class="heading-primary">
    <div class="line"></div>
    <h1 class="heading-primary-main">FAQ</h1>
    <div class="line"></div>
  </div>

  <div class="faq-message-container">
    <div class="avatar-container">
      <div class="ro-avatar"></div>
      <div class="raji-avatar"></div>
    </div>
    <div class="message-container">
      <p class="message">
        This is the Frequently Asked Questions section! Here you'll find a collection of questions with answers to
        commonly asked questions.
      </p>
      <p class="message">
        Go ahead and click on each question to see the answer - if you have any questions that you can't find the answer to here,
        please send them to rohitwedsraji2020@gmail.com
      </p>
    </div>
  </div>

  <div class="column">
    <div class="accordian-container">
      <button class="accordion">What time should I get there?</button>
      <div class="panel">
        <p>Please refer to the 'Wedding Day' section for a full timeline of events.</p>
      </div>
    </div>

    <div class="accordian-container">
      <button class="accordion">What food will be served on the day?</button>
      <div class="panel">
        <p>A menu is yet to be fully confirmed. But there will be breakfast at the temple.
           At the reception hall there will be canapes, veg and meat starters, main course and dessert.</p>
     </div>
    </div>

    <div class="accordian-container">
      <button class="accordion">Is the food Vegetarian/Vegan friendly?</button>
      <div class="panel">
        <p>Yes, the food will be carefully picked to make  sure our friends and families dietary requirements
            are justly met :) </p>
      </div>
    </div>

    <div class="accordian-container">
      <button class="accordion">Can I bring a plus one?</button>
      <div class="panel">
        <p>Only if it's been confirmed. We have capacity for 200 people on the day, but it's definitely worth checking
            with us to see if any spaces come free.</p>
      </div>
    </div>

    <div class="accordian-container">
      <button class="accordion">Will Rohit be riding in on a [insert animal here]?</button>
      <div class="panel">
        <p>We are currently trying to reanimate a sabertooth tiger from a frozen sample found in the arctic tundra.
          It will be genetically engineered to be vegan. Failing that, maybe a gluten intolerant tiger. Maybe.</p>
      </div>
    </div>
  </div>
</div>


