@import '../common-styles';

.heading-primary {
  text-align: center;
  color: black;
  width: 100%;
  z-index: 500;

  @media screen and (max-device-width: 480px) {
    display: none;
  }
}

.heading-primary-main {
  display: block;
  font-size: 10vw;
  font-weight: 400;
  letter-spacing: 1vw;
  animation: moveInLeft 1s ease-out;
  font-family: $primary-font;
}

.header {
  width: 100%;
  height: 40vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}
