@import "../common-styles";

.count-down-timer {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
  top: 10px;
}

.count-down-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.interval-container {
  clip-path: circle(50% at 50% 50%);
  height:150px;
  width:150px;
  background-color: $dark-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-left: 5px;
  position: relative;
  bottom: 115px;
}

.gold-border {
  border: 2px solid $gold-outline;
  border-radius: 200px;
}

.black-border {
  border: 4px solid black;
  border-radius: 200px;
}

.proposal-img {
  background-image: url("../../assets/img/proposal.png");
  background-size: contain;
}

.cake-img {
  background-image: url("../../assets/img/cake.png");
  background-size: contain;
}

.honeymoon-img {
  background-image: url("../../assets/img/trip.png");
  background-size: contain;
}

.couple-img {
  background-image: url("../../assets/img/couple.png");
  background-size: contain;
}

.animate {
  animation: dbz 2s;
}

@keyframes dbz {
  0% {
    opacity: 0;
    transform: translateY(-1000px);
  }

  80% {
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.interval-value {
  color: $white;
  font-family: $secondary-font;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.interval-unit {
  color: $white;
  font-size:2rem;
  font-family: $primary-font;
}

.seconds-counter {
  background-color: $pink;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.count-down-text {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.5vw;
  font-family: $primary-font;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 50px;
}

/*@keyframes spin {*/
/*from { transform: rotate(0deg); }*/
/*to { transform: rotate(360deg); }*/
/*}*/

/*@keyframes moveLeftToRight {*/
/*0%   { left: -100px; position: absolute; }*/
/*99%   { left: 87%; position: absolute; }*/
/*100% { left: 88%}*/
/*}*/
