<div class="count-down-timer">
  <p class="count-down-text">Join Us For Celebrations In:</p>
  <div class="count-down-container">
    <div class="interval-container proposal-img">
      <div class="interval-value">{{daysLeft}}</div>
      <div class="interval-unit">Days</div>
    </div>
    <div class="interval-container couple-img">
      <div class="interval-value">{{hoursLeft}}</div>
      <div class="interval-unit">Hours</div>
    </div>
    <div class="interval-container cake-img">
      <div class="interval-value">{{minutesLeft}}</div>
      <div class="interval-unit">Minutes</div>
    </div>
    <div class="interval-container seconds-counter animate honeymoon-img">
      <div class="interval-value">{{secondsLeft}}</div>
      <div class="interval-unit">Seconds</div>
    </div>
  </div>
</div>
