<div class="count-down-timer">
  <div class="count-down-container">
    <div class="interval-container gold-border">
      <div class="interval-value">{{daysLeft}}</div>
      <div class="interval-unit">Days</div>
    </div>
    <div class="interval-container gold-border">
      <div class="interval-value">{{hoursLeft}}</div>
      <div class="interval-unit">Hours</div>
    </div>
    <div class="interval-container gold-border">
      <div class="interval-value">{{minutesLeft}}</div>
      <div class="interval-unit">Minutes</div>
    </div>
    <div class="interval-container seconds-counter animate">
      <div class="interval-value">{{secondsLeft}}</div>
      <div class="interval-unit">Seconds</div>
    </div>
  </div>
</div>
