<div class="count-down-timer">
  <p class="count-down-text">Join Us For Celebrations In:</p>
  <div class="interval-container">
    <div class="interval-value">{{daysLeft}}</div>
    <div class="interval-unit">days</div>
  </div>
  <div class="interval-container">
    <div class="interval-value">{{hoursLeft}}</div>
    <div class="interval-unit">hours</div>
  </div>
  <div class="interval-container">
    <div class="interval-value">{{minutesLeft}}</div>
    <div class="interval-unit">minutes</div>
  </div>
  <div class="interval-container seconds-counter animate">
    <div class="interval-value">{{secondsLeft}}</div>
    <div class="interval-unit">seconds</div>
  </div>
</div>
