@import '../common-styles';

.heading-primary {
  text-align: center;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  @media screen and (max-device-width: 480px) {
    display: none;
  }
}

.line {
  height: 0;
  width: 15%;
  border: 2px solid black;
}

.mgl-timeline-line {
  background-color: black !important;
}

.dot {
  background-color: $pink;
  border: 2px solid black;
}

.heading-primary-main {
  display: block;
  font-size: 10vw;
  font-weight: 400;
  letter-spacing: 1vw;
  animation: moveInLeft 1s ease-out;
  font-family: $primary-font;
}

.main {
  height: fit-content;
  padding-top: 30px;
  z-index: 5000;
}

.sub-header {
  text-align: center;
  padding-bottom: 30px;
}

.day-start-image {
  background-image: url('../../assets/img/raji_avatar2.png');
}

.arrive-template-image {
  background-image: url('../../assets/img/ro_avatar2.png');
}

.hindu-ceremony-image {
  background-image: url('../../assets/img/raji_avatar3.png');
}

.drinks-reception-image {
  background-image: url('../../assets/img/ro_avatar3.png');
}

.party-image {
  background-image: url('../../assets/img/raji_avatar4.png');
}

.entrance-image {
  background-image: url('../../assets/img/ro_avatar4.png');
}

.bride-image {
  background-image: url('../../assets/img/raji_avatar5.png');
}

.timeline-item-image {
  height: 100px;
  width: 120px;
  background-size: contain;
  background-repeat: no-repeat;
}

.timeline-item-container {
  display: flex;
  flex-direction: row;
}

.timeline-item-title {
  width: 100%;
  align-self: center;
}
