<div class="main">
  <h1 class="heading-primary">
    <div class="line"></div>
    <span class="heading-primary-main">Wedding Day</span>
    <div class="line"></div>
  </h1>
  <h3 class="sub-header">Here is a timeline of events for the big day, click each square to find out more!</h3>
  <h3 class="sub-header">Please note that the following events adhere to a strict schedule, so please make it on time to make the most of the day.</h3>

  <mgl-timeline>
    <mgl-timeline-entry>
      <mgl-timeline-entry-header>
        <div class="timeline-item-container">
          <div class="timeline-item-image day-start-image"></div>
          <p class="timeline-item-title">8.30AM: The Day Starts!</p>
        </div>
      </mgl-timeline-entry-header>
      <mgl-timeline-entry-content>The grooms side will be departing from Leamington Spa at 8am, where coaches will
        be waiting for those who require them at the grooms family address.

        The brides side will depart a little sooner than this from Nottingham to ensure that the temple is reached by 9.30am.
      </mgl-timeline-entry-content>
      <mgl-timeline-entry-dot [size]="50" class="dot"></mgl-timeline-entry-dot>
    </mgl-timeline-entry>

    <mgl-timeline-entry>
      <mgl-timeline-entry-header>
        <div class="timeline-item-container">
          <div class="timeline-item-image arrive-template-image"></div>
          <p class="timeline-item-title">9.30AM: Arrival at Temple</p>
        </div>
      </mgl-timeline-entry-header>
      <mgl-timeline-entry-content>Once both parties have arrived, the brides side will greet the grooms side and then the
        'Milnee' or 'Meetings' will begin, whereby members from each family will greet each other in a short ceremony.

         As soon as this is done, the Bride and Groom will make their band baja entrance and the traditional Hindu ceremony will begin.
      </mgl-timeline-entry-content>
      <mgl-timeline-entry-dot [size]="50" class="dot"></mgl-timeline-entry-dot>
    </mgl-timeline-entry>

    <mgl-timeline-entry>
      <mgl-timeline-entry-header>
        <div class="timeline-item-container">
          <div class="timeline-item-image hindu-ceremony-image"></div>
          <p class="timeline-item-title">10.30AM: Hindu Ceremony</p>
        </div>
      </mgl-timeline-entry-header>
      <mgl-timeline-entry-content>The temple hall will host the traditional Hindu ceremony, here a traditional Punjabi breakfast
        will be provided alongside tea while everything takes place.</mgl-timeline-entry-content>
      <mgl-timeline-entry-dot [size]="50" class="dot"></mgl-timeline-entry-dot>
    </mgl-timeline-entry>

    <mgl-timeline-entry>
      <mgl-timeline-entry-header>
        <div class="timeline-item-container">
          <div class="timeline-item-image drinks-reception-image"></div>
          <p class="timeline-item-title">1.00PM: Manor Grove Drinks Reception</p>
        </div>
      </mgl-timeline-entry-header>
      <mgl-timeline-entry-content>Once the ceremony has completed, both sides will make their way to The Manor Grove for the
        wedding reception, where welcome drinks and canapes will be ready to greet guests and the party begins!</mgl-timeline-entry-content>
      <mgl-timeline-entry-dot [size]="50" class="dot"></mgl-timeline-entry-dot>
    </mgl-timeline-entry>

    <mgl-timeline-entry>
      <mgl-timeline-entry-header>
        <div class="timeline-item-container">
          <div class="timeline-item-image party-image"></div>
          <p class="timeline-item-title">2.00PM: Time to Party!</p>
        </div>
      </mgl-timeline-entry-header>
      <mgl-timeline-entry-content>Around this time the doors will open and the main area will be unveiled for guests to enjoy
        an afternoon of celebrating the wedding of Rohit and Raji.</mgl-timeline-entry-content>
      <mgl-timeline-entry-dot [size]="50" class="dot"></mgl-timeline-entry-dot>
    </mgl-timeline-entry>

    <mgl-timeline-entry>
      <mgl-timeline-entry-header>
        <div class="timeline-item-container">
          <div class="timeline-item-image entrance-image"></div>
          <p class="timeline-item-title">3.00PM: Bride & Groom Entrance</p>
        </div>
      </mgl-timeline-entry-header>
      <mgl-timeline-entry-content>We make our entrance, led out by a dhol players and followed out by family and friends
        where we will cut the wedding cake and expect everyone on the dancefloor to tear it up!</mgl-timeline-entry-content>
      <mgl-timeline-entry-dot [size]="50" class="dot"></mgl-timeline-entry-dot>
    </mgl-timeline-entry>

    <mgl-timeline-entry>
      <mgl-timeline-entry-header>
        <div class="timeline-item-container">
          <div class="timeline-item-image bride-image"></div>
          <p class="timeline-item-title">8.00PM: Bride is seen off</p>
        </div>
      </mgl-timeline-entry-header>
      <mgl-timeline-entry-content>As per Punjabi tradition, Rajis family will bid farewell to Raji as she joins Rohit's family
        and enters the family home for an evening of traditional fun and games.</mgl-timeline-entry-content>
      <mgl-timeline-entry-dot [size]="50" class="dot"></mgl-timeline-entry-dot>
    </mgl-timeline-entry>
  </mgl-timeline>
</div>
