@import '../common-styles';

.heading-primary {
  text-align: center;
  color: black;

  @media screen and (max-device-width: 480px) {
    display: none;
  }
}

.heading-primary-main {
  display: block;
  font-size: 10vw;
  font-weight: 400;
  letter-spacing: 1vw;
  animation: moveInLeft 1s ease-out;
  font-family: $primary-font;
}

.main {
  margin-top: 70px;
  height: 100vh;
}
