<div class="main">
  <h1 class="heading-primary">
    <span class="heading-primary-main">Wedding Day</span>
  </h1>
  <h3 class="sub-header">A timeline of events for the big day - click each event to find out more...</h3>

  <mgl-timeline>
    <mgl-timeline-entry>

      <mgl-timeline-entry-header>8.30AM: The Day Starts!</mgl-timeline-entry-header>
      <mgl-timeline-entry-content>The grooms side will be departing from Leamington Spa at 8am, where coaches will
        be waiting for those who require them at the grooms family address.

        The brides side will depart a little sooner than this from Nottingham to ensure that the template is reached by 9.30am.
      </mgl-timeline-entry-content>
      <mgl-timeline-entry-side></mgl-timeline-entry-side>
    </mgl-timeline-entry>

    <mgl-timeline-entry>
      <mgl-timeline-entry-header>9.30AM: Arrival at Temple</mgl-timeline-entry-header>
      <mgl-timeline-entry-content>Once both parties have arrived, the brides side will greet the grooms side and then the
        'Milnee' or 'Meetings' will begin, whereby members from each family will greet each other in a short ceremony.

         As soon as this is done, the Bride and Groom will make their band baja enterance and the traditional hindu ceremony will begin.
      </mgl-timeline-entry-content>
      <mgl-timeline-entry-side></mgl-timeline-entry-side>
    </mgl-timeline-entry>

    <mgl-timeline-entry>
      <mgl-timeline-entry-header>10.30AM: Hindu Ceremony</mgl-timeline-entry-header>
      <mgl-timeline-entry-content>The temple hall will host the traditional hindu ceremony, here a traditional punjabi breakfast
        will be provided alongside tea while everything takes place.</mgl-timeline-entry-content>
      <mgl-timeline-entry-side></mgl-timeline-entry-side>
    </mgl-timeline-entry>

    <mgl-timeline-entry>
      <mgl-timeline-entry-header>1.00PM: Manor Grove Drinks Reception</mgl-timeline-entry-header>
      <mgl-timeline-entry-content>Once the ceremony has completed, both sides will make their way to The Manor Grove for the
        wedding reception, where welcome drinks and canapes will be ready to greet guests and the party begins!</mgl-timeline-entry-content>
      <mgl-timeline-entry-side></mgl-timeline-entry-side>
    </mgl-timeline-entry>

    <mgl-timeline-entry>
      <mgl-timeline-entry-header>2.00PM: Time to Party!</mgl-timeline-entry-header>
      <mgl-timeline-entry-content>Around this time the doors will open and the main area will be unveiled for guests to enjoy
        an afternoon of celebrating the wedding of Rohit and Raji.</mgl-timeline-entry-content>
      <mgl-timeline-entry-side></mgl-timeline-entry-side>
    </mgl-timeline-entry>
  </mgl-timeline>
</div>
