@import '../common-styles';

.heading-primary {
  text-align: center;
  color: black;

  @media screen and (max-device-width: 480px) {
    display: none;
  }
}

.heading-primary-main {
  display: block;
  font-size: 10vw;
  font-weight: 400;
  letter-spacing: 1vw;
  animation: moveInLeft 1s ease-out;
  font-family: $primary-font;
}

.main {
  height: 100vh;
  padding-top: 30px;
}

.sub-header {
  text-align: center;
  padding-bottom: 30px;
}

.a {
  height: 20px;
  width: 20px;
  background-color: #ec9a98;
}
