<div class="navigation">
  <input type="checkbox" class="navigation-checkbox" id="navi-toggle">
  <label for="navi-toggle" class="navigation-button">
    <span class="navigation-icon">

    </span>
  </label>
  <div class="navigation-background"></div>

  <nav class="navigation-nav">
    <ul class="navigation-list">
      <li class="navigation-item">
        <div class="navigation-item-container">
          <div class="story-icon"></div>
          <a href="#" class="navigation-link">Our Story</a>
        </div>
      </li>
      <li class="navigation-item">
        <div class="navigation-item-container">
          <div class="wedding-day-icon"></div>
          <a href="#" class="navigation-link">Wedding Day</a>
        </div>
      </li>
      <li class="navigation-item">
        <div class="navigation-item-container">
          <div class="other-events-icon"></div>
          <a href="#" class="navigation-link">Other Events</a>
        </div>
      </li>
      <li class="navigation-item">
        <div class="navigation-item-container">
          <div class="travel-icon"></div>
          <a href="#" class="navigation-link">Travel</a>
        </div>
      </li>
      <li class="navigation-item">
        <div class="navigation-item-container">
          <div class="photo-icon"></div>
          <a href="#" class="navigation-link">Photo Gallery</a>
        </div>
      </li>
      <li class="navigation-item">
        <div class="navigation-item-container">
          <div class="faq-icon"></div>
          <a href="#" class="navigation-link">FAQ</a>
        </div>
      </li>
    </ul>
  </nav>
</div>
