.navigation {
}

.navigation-checkbox {
  display: none;
}

.navigation-button {
  background-color: #ffffff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 4rem;
  right: 4rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem #344148;
  text-align: center;
  cursor: pointer;
}

.navigation-background {
  height: 6rem;
  width: 6rem;
  border-radius:50%;
  position: fixed;
  top: 4.5rem;
  right: 4.5rem;
  background-image: radial-gradient(rgb(236, 154, 152),  rgb(52, 65, 72));
  z-index: 1000;
  transition: 0.8s transform cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation-nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s;
}

.navigation-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navigation-item {
  margin: 1rem;
}

.navigation-link:link,
.navigation-link:visited {
  display: inline-block;
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgb(52, 65, 72) 50%);
  padding: 0.5rem 2rem;
  background-size: 240%;
  transition: all 0.4s;
}

.navigation-link:hover,
.navigation-link:active {
  background-position: 100%;
  color: rgb(236, 154, 152);
  transform: translateX(1rem);
}

.navigation-checkbox:checked ~ .navigation-background {
  transform: scale(80);
}

.navigation-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  width: 100%;

}

.navigation-icon {
  position: relative;
  margin-top: 3.5rem;
}

.navigation-icon,
.navigation-icon::before,
.navigation-icon::after {
  width: 3rem;
  height: 2px;
  background: rgb(52, 65, 72);
  display: inline-block;
}

.navigation-icon::before,
.navigation-icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s;
}

.navigation-icon::before {
  top: -0.8rem;
}

.navigation-icon::after {
  top: 0.8rem;
}

.navigation-button:hover .navigation-icon::before {
  top: -1rem;
}

.navigation-button:hover .navigation-icon::after {
  top: 1rem;
}

.navigation-checkbox:checked + .navigation-button .navigation-icon {
  background-color: transparent;
}

.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
  transform: rotate(135deg);
  top: 0;
}

.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
  transform: rotate(-135deg);
  top: 0;
}

.story-icon {
  background-image: url("../../assets/img/book.png");
  width:50px;
  height:50px;
  background-size: contain;
}

.wedding-day-icon {
  background-image: url("../../assets/img/wedding-day.png");
  width:50px;
  height:50px;
  background-size: contain;
}

.other-events-icon {
  background-image: url("../../assets/img/disco-ball.png");
  width:50px;
  height:50px;
  background-size: contain;
}

.travel-icon {
  background-image: url("../../assets/img/suitcase.png");
  width:50px;
  height:50px;
  background-size: contain;
}

.photo-icon {
  background-image: url("../../assets/img/camera.png");
  width:50px;
  height:50px;
  background-size: contain;
}

.faq-icon {
  background-image: url("../../assets/img/question.png");
  width:50px;
  height:50px;
  background-size: contain;
}

.navigation-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


