<div class="navigation">
  <input type="checkbox" class="navigation-checkbox" id="navi-toggle">
  <label for="navi-toggle" class="navigation-button"> MENU </label>
  <div class="navigation-background">&nbsp</div>

  <nav class="navigation-nav">
    <ul class="navigation-list">
      <li class="navigation-item">
        <a href="#" class="navigation-link">Our Story</a>
      </li>
      <li class="navigation-item">
        <a href="#" class="navigation-link">Wedding Day</a>
      </li>
      <li class="navigation-item">
        <a href="#" class="navigation-link">Other Events</a>
      </li>
      <li class="navigation-item">
        <a href="#" class="navigation-link">Travel</a>
      </li>
      <li class="navigation-item">
        <a href="#" class="navigation-link">Photo Gallery</a>
      </li>
      <li class="navigation-item">
        <a href="#" class="navigation-link">FAQ</a>
      </li>
    </ul>
  </nav>
</div>
