@import '../common-styles';

.heading-primary {
  text-align: center;
  color: black;
  width: 100%;
  display: flex;
  z-index: 500;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 25%;

  @media screen and (max-device-width: 480px) {
    display: none;
  }
}

.line {
  height: 0;
  width: 10%;
  border: 2px solid black;
}

.heading-primary-main {
  display: block;
  font-size: 10vw;
  font-weight: 400;
  letter-spacing: 1vw;
  animation: moveInLeft 1s ease-out;
  font-family: $primary-font;
  color: black;
}

.main {
  width: 100%;
  background-size: cover;
  height: inherit;
  z-index: inherit;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 140vh;
  background-color: $pink;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 4px dashed black;
  border-left: 4px dashed black;
  border-right: 4px dashed black;
}

.image-container {
  height: 75%;

  @media screen and (max-device-width: 480px) {
    height: 100%;
  }
}
