<div class="main-container">
  <div class="main">
    <div class="heading-primary">
      <div class="line"></div>
      <h1 class="heading-primary-main">Photo Gallery</h1>
      <div class="line"></div>
    </div>
    <div class="gallery-message-container">
      <p class="gallery-message">
        With the amount of photos that will be taken during this wedding and all of the events leading up to it, we
        thought it would be a good idea to have a photo gallery for your viewing pleasure!
      </p>
      <p class="gallery-message">
        Simply click each photo to see a full sized version and scroll through at your leisure, if you have any photos you want
        us to add, please send them to rohitwedsraji2020@gmail.com.
      </p>
    </div>
    <div class="image-container">
      <ngx-gallery [options]="galleryOptions" [images]=galleryImages></ngx-gallery>
    </div>
  </div>
</div>
