@import '../common-styles.scss';

.navigation {
}

.navigation-checkbox {
  display: none;
}

.navigation-button {
  background-color: $white;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 1rem;
  right: 2.5rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem $dark-grey;
  text-align: center;
  cursor: pointer;
  border: 2px solid $gold-outline;

  @media screen and (max-device-width: 480px) {
    background-color: transparent;
    border: none;
    height: 0;
    width: 2rem;
    border-radius: 0;
    position: fixed;
    top: 0;
    right: 0;
  }
}

.navigation-background {
  height: 6rem;
  width: 6rem;
  border-radius:50%;
  position: fixed;
  top: 1.5em;
  right: 3rem;
  background-image: radial-gradient(white,  rgba(52, 65, 72, 0.5));
  z-index: 1000;
  transition: 0.8s transform cubic-bezier(0.86, 0, 0.07, 1);

  @media screen and (max-device-width: 480px) {
    background-color: transparent;
    border: none;
    height: 2rem;
    width: 2rem;
    border-radius: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-image: none;
  }
}

.navigation-nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100px;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s;
}

.navigation-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $pink;
  border: 4px dashed black;

  @media screen and (max-device-width: 480px) {
    width: 100%;
  }
}

.navigation-checkbox:checked ~ .navigation-background {
  transform: scale(80);
}

.navigation-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  width: 100%;
}

.navigation-icon {
  position: relative;
  margin-top: 3.5rem;

  @media screen and (max-device-width: 480px) {
    margin-top: 2rem;
    right: 1.5rem;
  }
}

.navigation-icon,
.navigation-icon::before,
.navigation-icon::after {
  width: 3rem;
  height: 2px;
  background: $dark-grey;
  display: inline-block;

  @media screen and (max-device-width: 480px) {
    background: white;
  }
}

.navigation-icon::before,
.navigation-icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s;
}

.navigation-icon::before {
  top: -0.8rem;
}

.navigation-icon::after {
  top: 0.8rem;
}

.navigation-button:hover .navigation-icon::before {
  top: -1rem;
}

.navigation-button:hover .navigation-icon::after {
  top: 1rem;
}

.navigation-checkbox:checked + .navigation-button .navigation-icon {
  background-color: transparent;
}

.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
  transform: rotate(135deg);
  top: 0;
}

.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
  transform: rotate(-135deg);
  top: 0;
}

.navigation-checkbox:checked ~ .navigation-nav .navigation-list .navigation-item .navigation-item-container .navigation-link {
  pointer-events: all;
}

.navigation-checkbox:not(:checked) ~ .navigation-nav .navigation-list .navigation-item .navigation-item-container .navigation-link {
  pointer-events: none;
}
