<div class="navigation">
  <input type="checkbox" class="navigation-checkbox" id="navi-toggle">
  <label for="navi-toggle" class="navigation-button">
    <span class="navigation-icon">
    </span>
  </label>
  <div class="navigation-background"></div>
  <nav class="navigation-nav">
    <ul class="navigation-list" [ngClass]="{'onScrollList': !topOfPage }">
      <div class="navigation-nav-header" [ngClass]="{'onScrollHeader': !topOfPage }">Rohit Weds Raji</div>
      <app-menu-item
        [currentSection]="currentSection"
        [topOfPage]="topOfPage"
        [className]="'story-icon'"
        [title]="'Our Story'"
        [url]="'/ourStory'"
        [elementName]="'ourStory'"
      ></app-menu-item>
      <app-menu-item
        [currentSection]="currentSection"
        [topOfPage]="topOfPage"
        [className]="'wedding-day-icon'"
        [title]="'Wedding Day'"
        [url]="'/weddingDay'"
        [elementName]="'weddingDay'"
      ></app-menu-item>
      <app-menu-item
        [currentSection]="currentSection"
        [topOfPage]="topOfPage"
        [className]="'other-events-icon'"
        [title]="'Other Events'"
        [url]="'/otherEvents'"
        [elementName]="'otherEvents'"
      ></app-menu-item>
      <app-menu-item
        [currentSection]="currentSection"
        [topOfPage]="topOfPage"
        [className]="'travel-icon'"
        [title]="'Travel'"
        [url]="'/travel'"
        [elementName]="'travel'"
      ></app-menu-item>
      <app-menu-item
        [currentSection]="currentSection"
        [topOfPage]="topOfPage"
        [className]="'photo-icon'"
        [title]="'Photo Gallery'"
        [url]="'/photoGallery'"
        [elementName]="'photoGallery'"
      ></app-menu-item>
      <app-menu-item
        [currentSection]="currentSection"
        [topOfPage]="topOfPage"
        [className]="'faq-icon'"
        [title]="'FAQ'"
        [url]="'/faq'"
        [elementName]="'faq'"
      ></app-menu-item>
    </ul>
  </nav>
</div>
