@import '../common-styles.scss';

.navigation {
}

.navigation-checkbox {
  display: none;
}

.navigation-button {
  position: fixed;
  z-index: 2000;
  text-align: center;
  cursor: pointer;

  @media screen and (max-device-width: 1024px) {
    background-color: transparent;
    border: none;
    height: 0;
    width: 2rem;
    border-radius: 0;
    position: fixed;
    top: 0;
    right: 0;
  }
}

.navigation-background {
  position: fixed;
  top: 1.5em;
  right: 3rem;
  z-index: 1000;
  transition: 0.8s transform cubic-bezier(0.86, 0, 0.07, 1);

  @media screen and (max-device-width: 1024px) {
    background-color: rgba(265, 265, 265, 0.6);
    border: none;
    height: 2rem;
    width: 2rem;
    border-radius: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-image: none;
  }
}

.navigation-nav {
  position: fixed;
  z-index: 1500;
  transition: all 0.8s;
  width: 100%;

  @media screen and (max-device-width: 1024px) {
    height: 100vh;
    top: 30px;
    left: -400px;
    opacity: 0;
    width: 0;
  }
}

.whiteBackground {
  background-color: white !important;
}

.navigation-list {
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: $pink;
  border: 4px dashed black;
  padding-left: 0;
  justify-content: space-around;
  transition: all .4s;

  @media screen and (max-device-width: 1024px) {
    flex-direction: column;
    top: 50%;
    left: 50%;
    justify-content: normal;
    width: fit-content;
  }
}

.navigation-checkbox:checked ~ .navigation-background {
  transform: scale(80);
}

.navigation-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  width: 100%;
  left: 0;
}

.navigation-icon {
  position: relative;
  margin-top: 3.5rem;

  @media screen and (max-device-width: 1024px) {
    margin-top: 2rem;
    right: 1.5rem;
  }
}

.navigation-icon,
.navigation-icon::before,
.navigation-icon::after {
  height: 4px;
  width: 3rem;
  display: inline-block;

  @media screen and (max-device-width: 1024px) {
    background: black;
  }
}

.navigation-icon::before,
.navigation-icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s;
}

.navigation-icon::before {
  top: -0.8rem;
}

.navigation-icon::after {
  top: 0.8rem;
}

.navigation-button:hover .navigation-icon::before {
  top: -1rem;
}

.navigation-button:hover .navigation-icon::after {
  top: 1rem;
}

.navigation-checkbox:checked + .navigation-button .navigation-icon {
  background-color: transparent;
}

.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
  transform: rotate(135deg);
  top: 0;
}

.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
  transform: rotate(-135deg);
  top: 0;
}

.navigation-checkbox:checked ~ .navigation-nav .navigation-list .navigation-item .navigation-item-container .navigation-link {
  pointer-events: all;
}

.navigation-checkbox:not(:checked) ~ .navigation-nav .navigation-list .navigation-item .navigation-item-container .navigation-link {
  pointer-events: none;
}

.navigation-nav-header {
  position: absolute;
  left: -300px;
  transition: all .2s;
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: $primary-font;
  font-size: 2.5rem;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;

  @media screen and (max-device-width: 1024px) {
    display: none;
  }

  @media screen and (min-device-width: 1024px) and (max-device-width: 1024px) {
    display: none;
  }
}

.navigation-nav-date {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 7px;
}

.navigation-nav-title {
  height: 50%;
  margin-bottom: 0;
}

.onScrollHeader {
  position: absolute;
  left: 0;
  display: flex;
  font-family: $primary-font;
  font-size: 2.5rem;
  padding-left: 15px;
  align-self: center;
  font-weight: bold;
  color: black;

  @media screen and (max-device-width: 1024px) {
    display: none;
  }
}

.onScrollList {
  justify-content: flex-end;
  border: none;

  @media screen and (max-device-width: 1024px) {
    justify-content: normal;
    border: 4px dashed black;
  }
}
