@import 'common-styles';

* { /*remove margin and padding, border box so they are not added to width and height*/
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*using inheritence here*/
body {
  font-size: 16px;
  color: black;
  background-color: $white;
  margin: 0px;

  @media screen and (max-device-width: 480px) {
    padding: 0;
  }
}
