<html>
  <body>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
    <app-home-page
      [currentSection]="currentSection"
      [mobileNavBarTitle]="mobileNavBarTitle">

    </app-home-page>
  <main>
    <app-welcome-section></app-welcome-section>
    <div scrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)">
      <div id="ourStory">
        <app-our-story></app-our-story>
      </div>
      <div id="weddingDay">
        <app-wedding-day></app-wedding-day>
      </div>
      <div id="otherEvents">
        <app-other-events></app-other-events>
      </div>
      <div id="travel">
        <app-travel></app-travel>
      </div>
      <div id="photoGallery">
        <app-photo-gallery></app-photo-gallery>
      </div>
      <div id="faq">
        <app-faq></app-faq>
      </div>
    </div>
  </main>
  </body>
  <footer>
    <div style="height: 50vh; background-color: #CD5C5C; width: 100%">
    </div>
  </footer>
</html>
