$primary-font: 'Great Vibes', cursive;
$secondary-font: 'Leelawadee UI';

$gold-outline: goldenrod;
$white: #ffff;
$pink: #ec9a98;
$dark-grey: #344148;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
