<div class="main-container">
  <div class="welcome-message-container">
    <div class="ro-avatar"></div>
    <div class="message-container">
      <p>
        Hello there! Welcome to our wedding website, we hope that you find it helpful in finding out more about our wedding.
      </p>
      <p>
        Here, you will find out useful information on the big day, including a plan of the day, information on other related events, travel information - and for the more curious, a photo gallery and a brief whimsical story on how we met!
      </p>
      <p>
        Thank you for visiting and we look forward to seeing you there!
      </p>
    </div>
    <div class="raji-avatar"></div>
    <div class="mob-avatar-container">
      <div class="mob-ro-avatar"></div>
      <div class="mob-raji-avatar"></div>
    </div>
  </div>
</div>

