<div class="main-container">
  <h1 class="heading-primary">
    <div class="line"></div>
    <span class="heading-primary-main">Other Events</span>
    <div class="line"></div>
  </h1>
  <div class="header">

    <div class="info-container">
      <h1>Both Sides</h1>
      <app-event-card
        [eventName]="'Kurami Ceremony'"
        [when]="'To be planned'"
        [where]="'To be planned'"
        [what]="'To be planned'"
      ></app-event-card>
      <app-event-card
        [eventName]="'Chunni Ceremony'"
        [when]="'To be planned'"
        [where]="'To be planned'"
        [what]="'To be planned'"
      ></app-event-card>
      <app-event-card
        [eventName]="'Engagement Celebration'"
        [when]="'To be planned'"
        [where]="'To be planned'"
        [what]="'To be planned'"
      ></app-event-card>
      <app-event-card
        [eventName]="'Civil Ceremony'"
        [when]="'To be planned'"
        [where]="'To be planned'"
        [what]="'To be planned'"
      ></app-event-card>
      <app-event-card
        [eventName]="'Lady Sangeet'"
        [when]="'To be planned'"
        [where]="'To be planned'"
        [what]="'To be planned'"
      ></app-event-card>
      <app-event-card
        [eventName]="'Haldi Ceremony'"
        [when]="'To be planned'"
        [where]="'To be planned'"
        [what]="'To be planned'"
      ></app-event-card>
    </div>

    <div class="info-container">
      <h1>Grooms Side Only</h1>
      <app-event-card
        [eventName]="'Pre-Wedding Party'"
        [when]="'September 19th 2020'"
        [where]="'Sports Connection, Warwick Suite, Coventry'"
        [what]="'A wedding pre-party - a chance for the grooms side to mix it up.'"
      ></app-event-card>
      <app-event-card
        [eventName]="'Stag Abroad'"
        [when]="'July 8th - 11th 2020'"
        [where]="'To be revealed'"
        [what]="'To be revealed to groom'"
      ></app-event-card>
      <app-event-card
        [eventName]="'Stag UK'"
        [when]="'To be planned'"
        [where]="'To be planned'"
        [what]="'A chance for the people who couldnt make it abroad to take part'"
      ></app-event-card>
    </div>

    <div class="info-container">
     <h1>Brides Side Only</h1>
      <app-event-card
        [eventName]="'Mehndi Ceremony'"
        [when]="'To be planned'"
        [where]="'To be planned'"
        [what]="'To be planned'"
      ></app-event-card>
      <app-event-card
        [eventName]="'Hen Party'"
        [when]="'To be planned'"
        [where]="'To be planned'"
        [what]="'To be planned'"
      ></app-event-card>
    </div>

  </div>
</div>
