<div class="main-container">
  <h1 class="heading-primary">
    <div class="line"></div>
    <span class="heading-primary-main">Other Events</span>
    <div class="line"></div>
  </h1>
  <div class="header">

    <div class="container">
      <h1>Both Sides</h1>
      <h2>Kurami Ceremony</h2>
      <h2>Chunni Ceremony</h2>
      <h2>Engagement Celebration</h2>
      <h2>Civil Ceremony</h2>
      <h2>Lady Sangeet</h2>
      <h2>Haldi Ceremony</h2>
    </div>

    <div class="info-container">
      <h1>Grooms Side Only</h1>
      <h2>Pre Wedding Party</h2>

      <div class="info-item-container">
        <p class="bold">When: </p>
        <p>September 19th 2020</p>
      </div>

      <div class="info-item-container">
        <p class="bold">Where: </p>
        <p>Sports Connection, Warwick Suite, Coventry</p>
      </div>

      <div class="info-item-container">
        <p >What: </p>
        <p>A wedding pre-party - a chance for the grooms side to mix it up.</p>
      </div>

    </div>

    <div class="container">
     <h1>Brides Side Only</h1>
      <h2>Mehndi Ceremony</h2>
    </div>
  </div>
</div>
