<div class="main-container">
  <h1 class="heading-primary">
    <div class="line"></div>
    <span class="heading-primary-main">Other Events</span>
    <div class="line"></div>
  </h1>
  <div class="header">
    <div class="container">
      <h1>Both Sides</h1>
      <p>Kurami Ceremony</p>
      <p>Chunni Ceremony</p>
      <p>Engagement Celebration</p>
      <p>Civil Ceremony</p>
      <p>Lady Sangeet</p>
      <p>Haldi Ceremony</p>
    </div>

    <div class="container">
      <h1>Grooms Side Only</h1>
      <p>Pre Wedding Party</p>
    </div>

    <div class="container">
     <h1>Brides Side Only</h1>
      <p>Mehndi Ceremony</p>
    </div>
  </div>
</div>
