@import '../common-styles';

.heading-primary {
  text-align: center;
  color: white;
  width: 100%;
  z-index: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;

  @media screen and (max-device-width: 480px) {
    display: none;
  }
}

.line {
  height: 0;
  width: 20%;
  border: 2px solid white;
}

.heading {
  color: white;

  @media screen and (max-device-width: 480px) {
    color: black;
  }
}

.heading-primary-main {
  display: block;
  font-size: 10vw;
  font-weight: 400;
  letter-spacing: 1vw;
  animation: moveInLeft 1s ease-out;
  font-family: $primary-font;
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 700;

  @media screen and (max-device-width: 480px) {
    background-color: transparent;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../assets/img/bg20.jpg');
  background-size: cover;
  height: fit-content;
}

.info-item-container {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  align-items: center;
  margin-bottom: 10px;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.info-item-text-container {
  display: flex;
  flex-direction: row;
}
