@import '../../common-styles.scss';

.navigation-item {
  margin: 1rem;
  min-width: max-content;
}

.navigation-link:link,
.navigation-link:visited {
  display: inline-block;
  font-family: $primary-font;
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $dark-grey 50%);
  padding: 0.5rem 2rem;
  background-size: 240%;
  transition: all 0.4s;

  @media screen and (max-device-width: 480px) {
    font-size: 2rem;
  }
}

.navigation-link:hover,
.navigation-link:active {
  background-position: 100%;
  color: $gold-outline;
  transform: translateX(1rem);
}

.story-icon {
  background-image: url("../../../assets/img/book.png");
  width:50px;
  height:50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.wedding-day-icon {
  background-image: url("../../../assets/img/wedding-day.png");
  width:50px;
  height:50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.other-events-icon {
  background-image: url("../../../assets/img/disco-ball.png");
  width:50px;
  height:50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.travel-icon {
  background-image: url("../../../assets/img/suitcase.png");
  width:50px;
  height:50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.photo-icon {
  background-image: url("../../../assets/img/camera.png");
  width:50px;
  height:50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.faq-icon {
  background-image: url("../../../assets/img/question.png");
  width:50px;
  height:50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.navigation-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


