<div class="main-container">
  <h1 class="heading-primary">
    <div class="line"></div>
    <span class="heading-primary-main">Travel</span>
    <div class="line"></div>
  </h1>

  <div class="maps-container">
    <div class="map-container">
      <h2 class="section-header">Balaji Temple</h2>
      <div class="section-container-column">
        <div class="location-addresses">
          <p>Dudley Rd E, Tividale</p>
          <p>Oldbury</p>
          <p>B69 3DU</p>
        </div>
        <div class="map">
          <iframe class="map-container" src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d54936.548319577!2d-2.0577049931238185!3d52.5175945808078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x4870977fb94510ef%3A0xe03c28961fa589a0!2ssri%20venkateswara%20temple!3m2!1d52.5133119!2d-2.0302176!5e0!3m2!1sen!2suk!4v1578051541698!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>

    <div class="map-container">
      <h2 class="section-header">Manor Grove</h2>
      <div class="section-container-column">
        <div class="location-addresses">
          <p>48 Oxhill Rd</p>
          <p>Birmingham</p>
          <p>B21 9RR</p>
        </div>
        <div class="map">
          <iframe class="map-container" src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d9712.6406491785!2d-1.9424705023696143!3d52.512440511254795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x4870bd2b0eddbf69%3A0x88b3c7cf3d66c007!2sthe%20manor%20grove%20birmingham!3m2!1d52.5135468!2d-1.9374829!5e0!3m2!1sen!2suk!4v1578051608303!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>

  <h2 class="section-header mob-section-header" style="margin-bottom: 20px">Getting to Birmingham</h2>
  <div class="section-container-row">
    <div class="transport-container">
      <div class="car-icon"></div>
      <h2>From Nottingham</h2>
      <p>Approx 1 hour (51.0 mi) via A42 and M42</p>
      <p>-or-</p>
      <p>Approx 1 hour 20 (58.2 mi) via A38</p>

      <h2>From Leamington Spa</h2>
      <p>Approx 45 minutes (37.0 mi) via M40 and M42</p>
    </div>
    <div class="transport-container">
      <div class="train-icon"></div>
      <h2>From Nottingham</h2>
      <p>Approx 1 hour 15 minutes direct to New Street</p>
      <p>-or-</p>
      <p>Approx 1 hour 29 minutes via Leicester to New Street</p>

      <h2>From Leamington Spa</h2>
      <p>Approx 35 minutes direct to New Street</p>
      <p>Approx 35 minutes direct to Moor Street</p>
    </div>
    <div class="transport-container">
      <div class="plane-icon"></div>
      <h2>Where to Land</h2>
      <p>Closest airport: (BHX) Birmingham International Airport</p>
      <p>A connecting monorail can take you to Birmingham International TrainStation.</p>
      <p>Regular trains go from here to Birmingham New Street </p>
    </div>
  </div>

  <h1 style="text-align: center; padding-top: 30px">Nearby Recommended Hotels</h1>
  <p style="text-align: center">All hotels listed here have a rating of 7.5 and above according to Trivago.</p>

  <h2 class="section-header">Low Price Hotels
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
  </h2>

  <div class="section-container-column">

    <div class="hotel-container" (click)="goToLink('https://www.travelodge.co.uk')">
      <div class="travelodge-logo"></div>
      <div class="hotel-items">
        <p>Travelodge Birmingham Central Bullring</p>
        <p>Travelodge Birmingham Moor Street</p>
        <p>Travelodge Birmingham Broad Street</p>
      </div>
    </div>

    <div class="hotel-container" (click)="goToLink('https://www.premierinn.com')">
      <div class="premierinn-logo"></div>
      <div class="hotel-items">
        <p>Premier Inn Birmingham New Street</p>
        <p>Premier Inn Birmingham Waterloo Street</p>
        <p>Premier Inn Birmingham Hagley Road</p>
      </div>
    </div>
  </div>

  <h2 class="section-header">Mid Price Hotels
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
  </h2>
  <div class="section-container-column">

    <div class="hotel-container" (click)="goToLink('https://www.millenniumhotels.com/en/birmingham/copthorne-hotel-birmingham/')">
      <div class="copthorne-logo"></div>
      <div class="hotel-items">
        <p>Copthorne Hotel</p>
      </div>
    </div>

    <div class="hotel-container" (click)="goToLink('https://www.hilton.com/')">
      <div class="hilton-logo"></div>
      <div class="hotel-items">
        <p>Hampton by Hilton Hotel Broad Street</p>
        <p>Hilton Garden Inn Hotel Brindley Place</p>
      </div>
    </div>

    <div class="hotel-container" (click)="goToLink('https://www.jurysinn.com/Birmingham')">
      <div class="jurysinn-logo"></div>
      <div class="hotel-items">
        <p>Jurys Inn Broad Street</p>
      </div>
    </div>

    <div class="hotel-container" (click)="goToLink('https://novotel-centre.hotels-birmingham.co.uk/en/')">
      <div class="novotel-logo"></div>
      <div class="hotel-items">
        <p>Novotel Broad Street</p>
      </div>
    </div>
  </div>

  <h2 class="section-header">High Price Hotels
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
  </h2>
  <div class="section-container-column">

    <div class="hotel-container" (click)="goToLink('https://www.parkregisbirmingham.co.uk/')">
      <div class="parkregis-logo"></div>
      <div class="hotel-items">
        <p>Park Regis Hotel</p>
      </div>
    </div>
    <div class="hotel-container" (click)="goToLink('https://www.hyatt.com/en-US/hotel/england-united-kingdom/hyatt-regency-birmingham/birmi')">
      <div class="hyatt-logo"></div>
      <div class="hotel-items">
        <p>Hyatt Regency Hotel</p>
      </div>
    </div>
    <div class="hotel-container" (click)="goToLink('https://www.claytonhotelbirmingham.com/')">
      <div class="clayton-logo"></div>
      <div class="hotel-items">
        <p>The Clayton Hotel</p>
      </div>
    </div>
  </div>
</div>
