@import '../common-styles';

.heading-primary {
  text-align: center;
  color: black;
  width: 100%;
  z-index: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  @media screen and (max-device-width: 480px) {
    display: none;
  }
}

.line {
  height: 0;
  width: 25%;
  border: 2px solid black;
}

.checked {
  color: orange;
}

.heading-primary-main {
  display: block;
  font-size: 10vw;
  font-weight: 400;
  letter-spacing: 1vw;
  animation: moveInLeft 1s ease-out;
  font-family: $primary-font;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 30px 15px;
}

.maps-container {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (max-device-width: 480px) {
    flex-direction: column;
  }
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1px;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  padding-top: 30px;

  @media screen and (max-device-width: 480px) {
    padding-top: 0;
  }
}

.location-addresses {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.map {
  width: 100%;
  height: 100%;
  z-index: 500;
}

.section-header {
  color: black;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  width: fit-content;
  z-index: 500;
  margin-bottom: -20px;
  background-color: white;

  @media screen and (max-device-width: 480px) {
    text-align: center;
    width: 100%;
    margin-bottom: 0;
  }
}

.mob-section-header {
  @media screen and (max-device-width: 480px) {
    margin-bottom: 0;
  }
}

.section-container-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 25px;
  padding: 20px;

  @media screen and (max-device-width: 480px) {
    flex-direction: column;
    align-items: center;
  }
}

.section-container-column {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 25px;
  padding: 20px;

  @media screen and (max-device-width: 480px) {
    flex-direction: column;
    align-items: center;
  }
}

.car-icon,
.train-icon,
.plane-icon {
  height: 200px;
  width: 200px;
  background-size: contain;
  border-radius: 300px;
  border: 2px solid black;

  @media screen and (max-device-width: 480px) {
    height: 150px;
    width: 150px;
    border-radius: 150px;
  }
}

.car-icon {
  background-image: url('../../assets/img/car.png');
}

.train-icon {
  background-image: url('../../assets/img/train.png');
}

.plane-icon {
  background-image: url('../../assets/img/plane.png');
}

.transport-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;

  @media screen and (max-device-width: 480px) {
    width: 100%;
    text-align: center;
  }
}

.hotel-container {
  width: 100%;
  height: 30vh;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  z-index: 500;
  transition: all 0.4s;
}

.hotel-container:hover,
.hotel-container:active {
  background-position: 100%;
  color: $white;
  transform: translateX(1rem);
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $pink 50%);
  background-size: 240%;
  cursor: pointer;
}

.travelodge-logo,
.premierinn-logo,
.copthorne-logo,
.jurysinn-logo,
.hilton-logo,
.novotel-logo,
.parkregis-logo,
.hyatt-logo,
.clayton-logo {
  width: 40%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.travelodge-logo {
  background-image: url('../../assets/img/travelodge.jpg');
}

.premierinn-logo {
  background-image: url('../../assets/img/premierinn.jpg');
}

.copthorne-logo {
  background-image: url('../../assets/img/copthorne.jpeg');
}

.jurysinn-logo {
  background-image: url('../../assets/img/jurysinn.jpg');
}

.hilton-logo {
  background-image: url('../../assets/img/hilton.jpeg');
}

.novotel-logo {
  background-image: url('../../assets/img/novotel.jpeg');
}

.parkregis-logo {
  background-image: url('../../assets/img/parkregis.jpg');
}

.clayton-logo {
  background-image: url('../../assets/img/clayton.jpg');
}

.hyatt-logo {
  background-image: url('../../assets/img/hyatt.jpg');
}

.hotel-items {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  justify-content: center;
  width: 60%;
  font-size: 1.5rem;
}

