@import '../common-styles';

.heading-primary {
  text-align: center;
  color: black;
  width: 100%;
  z-index: 500;

  @media screen and (max-device-width: 480px) {
    display: none;
  }
}

.checked {
  color: orange;
}

.heading-primary-main {
  display: block;
  font-size: 10vw;
  font-weight: 400;
  letter-spacing: 1vw;
  animation: moveInLeft 1s ease-out;
  font-family: $primary-font;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding-top: 30px;
}

.map-container {
  width: 100%;
  height: 100%;
  z-index: 5000;
  padding-bottom: 10px;
  padding-top: 30px;
}

.location-container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.location-info-container {
  display: flex;
  flex-direction: row;
  width: 48%;
  border: 2px solid black;
  padding: 10px 10px 5px 10px
}

.location-addresses {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.location-map {
  width: 100%;
  height: 100%;
}

.locations-header {
  color: black;
  text-align: start;
  padding-right: 10px;
  min-width: fit-content;
}

.locations-header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.location-header-line {
  border: 2px solid black;
  width: 100%;
  height: 0;
  align-self: center;
}

.how-to-get-here-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (max-device-width: 480px) {
    flex-direction: column;
    align-items: center;
  }
}

.car-icon,
.train-icon,
.plane-icon {
  height: 200px;
  width: 200px;
  background-size: contain;
  border-radius: 300px;
  border: 2px solid black;
}

.car-icon {
  background-image: url('../../assets/img/car.png');
}

.train-icon {
  background-image: url('../../assets/img/train.png');
}

.plane-icon {
  background-image: url('../../assets/img/plane.png');
}

.transport-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;

  @media screen and (max-device-width: 480px) {
    width: 100%;
    text-align: center;
  }
}

.hotel-group-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hotel-container {
  width: 100%;
  height: 30vh;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  z-index: 500;
  transition: all 0.4s;
}

.hotel-container:hover,
.hotel-container:active {
  background-position: 100%;
  color: $white;
  transform: translateX(1rem);
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $pink 50%);
  background-size: 240%;
  cursor: pointer;
}

.travelodge-logo {
  width: 25%;
  height: 100%;
  background-image: url('../../assets/img/travelodge.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.premierinn-logo {
  width: 25%;
  height: 100%;
  background-image: url('../../assets/img/premierinn.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.copthorne-logo {
  width: 25%;
  height: 100%;
  background-image: url('../../assets/img/copthorne.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.jurysinn-logo {
  width: 25%;
  height: 100%;
  background-image: url('../../assets/img/jurysinn.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.hilton-logo {
  width: 25%;
  height: 100%;
  background-image: url('../../assets/img/hilton.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.novotel-logo {
  width: 25%;
  height: 100%;
  background-image: url('../../assets/img/novotel.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.parkregis-logo {
  width: 25%;
  height: 100%;
  background-image: url('../../assets/img/parkregis.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.clayton-logo {
  width: 25%;
  height: 100%;
  background-image: url('../../assets/img/clayton.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.hyatt-logo {
  width: 25%;
  height: 100%;
  background-image: url('../../assets/img/hyatt.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.hotel-items {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  justify-content: center;
}

