<div class="main-container">
  <h1 class="heading-primary">
    <span class="heading-primary-main">Travel</span>
  </h1>

  <div class="locations-header-container">
    <h1 class="locations-header">Locations</h1>
    <div class="location-header-line"></div>
  </div>

  <div class="location-container">
    <div class="location-info-container">
      <div class="location-addresses">
        <h2>Balaji Temple</h2>
        <p>Dudley Rd E</p>
        <p>Tividale</p>
        <p>Oldbury</p>
        <p>B69 3DU</p>
      </div>
      <div class="location-map">
        <iframe class="map-container" src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d54936.548319577!2d-2.0577049931238185!3d52.5175945808078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x4870977fb94510ef%3A0xe03c28961fa589a0!2ssri%20venkateswara%20temple!3m2!1d52.5133119!2d-2.0302176!5e0!3m2!1sen!2suk!4v1578051541698!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>

    <div class="location-info-container">
      <div class="location-addresses">
        <h2>Manor Grove</h2>
        <p>48 Oxhill Rd</p>
        <p>Birmingham</p>
        <p>B21 9RR</p>
      </div>
      <div class="location-map">
        <iframe class="map-container" src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d9712.6406491785!2d-1.9424705023696143!3d52.512440511254795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x4870bd2b0eddbf69%3A0x88b3c7cf3d66c007!2sthe%20manor%20grove%20birmingham!3m2!1d52.5135468!2d-1.9374829!5e0!3m2!1sen!2suk!4v1578051608303!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>

  <div class="locations-header-container">
    <h1 class="locations-header">Getting to Birmingham</h1>
    <div class="location-header-line"></div>
  </div>

  <div class="how-to-get-here-container">
    <div class="transport-container">
      <div class="car-icon"></div>
      <h2>From Nottingham</h2>
      <p>Approx 1 hour (51.0 mi) via A42 and M42</p>
      <p>-or-</p>
      <p>Approx 1 hour 20 (58.2 mi) via A38</p>

      <h2>From Leamington Spa</h2>
      <p>Approx 45 minutes (37.0 mi) via M40 and M42</p>
    </div>
    <div class="transport-container">
      <div class="train-icon"></div>
      <h2>From Nottingham</h2>
      <p>Approx 1 hour 15 minutes direct to New Street</p>
      <p>-or-</p>
      <p>Approx 1 hour 29 minutes via Leicester to New Street</p>

      <h2>From Leamington Spa</h2>
      <p>Approx 35 minutes direct to New Street</p>
      <p>Approx 35 minutes direct to Moor Street</p>
    </div>
    <div class="transport-container">
      <div class="plane-icon"></div>
      <h2>Where to Land</h2>
      <p>Closest airport: (BHX) Birmingham International Airport</p>
      <p>A connecting monorail can take you to Birmingham International TrainStation.</p>
      <p>Regular trains go from here to Birmingham New Street </p>
    </div>
  </div>

  <div class="locations-header-container">
    <h1 class="locations-header">Nearby Recommended Hotels</h1>
    <div class="location-header-line"></div>
  </div>

  <p>All hotels listed here have a rating of 7.5 and above according to Trivago.</p>

  <h2>Low Price Hotels</h2>
  <div class="low-price-hotel-container">

    <div class="travelodge-container">
      <div class="travelodge-logo"></div>
      <div class="travelodge-items">
        <p>Travelodge Birmingham Central Bullring</p>
        <p>Travelodge Birmingham Moor Street</p>
        <p>Travelodge Birmingham Broad Street</p>
      </div>
    </div>

    <div class="premierinn-container">
      <div class="premierinn-logo"></div>
      <div class="premierinn-items">
        <p>Premier Inn Birmingham New Street</p>
        <p>Premier Inn Birmingham Waterloo Street</p>
        <p>Premier Inn Birmingham Hagley Road</p>
      </div>
    </div>
  </div>

  <h2>Mid Price Hotels</h2>
  <h2>High Price Hotels</h2>

</div>
