@import '../common-styles';

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 100%;
  background-size: auto;
  border-top: 4px dashed black;
  border-right: 4px dashed black;
  border-left: 4px dashed black;
}

.heading-primary {
  padding-top: 30px;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  @media screen and (max-device-width: 480px) {
    display: none;
  }
}

.line {
  height: 0;
  width: 20%;
  border: 2px solid black;
}

.heading-primary-main {
  display: block;
  font-size: 10vw;
  font-weight: 400;
  letter-spacing: 1vw;
  animation: moveInLeft 1s ease-out;
  font-family: $primary-font;
}

.header {
}

.story-area-container {
  height: 100%;
  width: 75vw;
  font-size: 2rem;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-device-width: 1024px) {
    width: 90vw;
    font-size: 1.5rem;
  }
}

.story-button-container {
  width: 33.33vw;
  text-align: center;
}

.book-container {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: center;
}

#cardflip {
  width: 50%;
  height: 90%;
  position: relative;
  perspective: 800px;
  cursor:pointer;

  @media screen and (max-device-width: 480px) {
    width: 90%;
  }
}

#card1 {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform-origin: left center;
}

#card1.flip{
  transition: transform 1s;
  transform:rotateY(-180deg);
}

#card1 div,.inside{
  width: 100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  color:#fff;
  font-size:50px;
  text-align:center;
  backface-visibility: hidden;
}

.front{
  background-image: url('../../assets/img/bookCover.jpg');
  background-size: cover;
}

.back{
  background-size: cover;
  border-right: 2px solid black;
  transform:rotateY(180deg);
  background-color: white;
}

.inside{
  backface-visibility: visible;
  color:#000;
  background-size: cover;
  background-color: white;
}

.front-cover-title {
  padding-top: 2rem;
  font-family: $primary-font;
  color: black;
}

.story-row {
  overflow-y: scroll;
  overflow-x: auto;
  max-height: 100%;
  font-size: 1.5rem;
  text-align: start;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-device-width: 480px) {
    font-size: 1rem;
    padding: 20px;
  }
}

.click-here {
  font-size: 2rem;
  height: fit-content;
  padding: 10px;
}

.story-message {
  font-size: 2rem;
  text-align: center;

  @media screen and (max-device-width: 1024px) {
    font-size: 1rem;
  }
}

.story-message-container {
  padding: 30px 15px;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: $dark-grey;
  opacity: 0.5;
  border: $gold-outline 2px solid;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gold-outline;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgoldenrod;
}


@-webkit-keyframes pointerright {
  0% { -webkit-transform: translateX(0); }
  100% { -webkit-transform: translateX(-0.4em); }
}

@-webkit-keyframes pointerdown {
  0% { -webkit-transform: translateY(0); }
  100% { -webkit-transform: translateY(-0.4em); }
}

.pointer {
  display:block;
  height:150px;
  width:170px;
  text-indent:-9999px;
  transform-origin: 50% 50%;
  background-image: url("../../assets/img/point1.png");
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (max-device-width: 1024px) {
    height:100px;
    width:100px;
    background-image: url("../../assets/img/point2.png");
  }
}

.move {
  -webkit-animation: pointerright 0.6s infinite alternate ease-in-out;

  @media screen and (max-device-width: 1024px) {
    -webkit-animation: pointerdown 0.6s infinite alternate ease-in-out;
  }
}

.warning-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.story-picture {
  height: 200px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}

.warning-picture {
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}

.story-picture-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.warning-text {
  align-self: center;
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: bold;

  @media screen and (max-device-width: 480px) {
    font-size: 1rem;
  }
}

.warning-icon {
  background-position: center;
  background-image: url('../../assets/img/warning.png');
}

.vomit-icon {
  background-position: center;
  background-image: url('../../assets/img/vomit.png');
}

.story-pic-1 {
  background-image: url('../../assets/img/storypic1.png');
}

.story-pic-2 {
  background-image: url('../../assets/img/storypic2.png');
  margin-bottom: 15px;
}

.story-pic-3 {
  background-image: url('../../assets/img/storypic3.png');
  background-position: center;
}

.story-pic-4 {
  background-image: url('../../assets/img/storypic4.png');
  background-position: center;
}

.story-pic-5 {
  background-image: url('../../assets/img/storypic7.png');
  background-position: center;
}

.story-pic-6 {
  background-image: url('../../assets/img/storypic6.png');
}

.story-pic-7 {
  background-image: url('../../assets/img/storypic8.png');
  background-position: center;
}

.story-pic-8 {
  background-image: url('../../assets/img/storypic9.png');
  background-position: center;
}

.story-pic-9 {
  background-image: url('../../assets/img/storypic10.png');
  background-position: center;
}

.story-pic-10 {
  background-image: url('../../assets/img/storypic5.png');
  background-position: center;
}

