<div class="main-container">
  <div class="header">
    <h1 class="heading-primary">
      <span class="heading-primary-main">Our Story</span>
    </h1>
  </div>

  <div class="story-area-container">
    <div class="story-button-container">
      <app-story-button
        [storyText]="'Once upon a time there lived a handsome young man by the name of Ro.
        Ro was an accomplished young man with a 100kg bench press, degree in mechanical engineering
        and a love for dinosaurs and coding.'"
        [id]="'story-toggle-1'"
        [buttonClassName]="'story-button-1'"
      ></app-story-button>
    </div>

    <div class="heart-container">
      <div class="heart"></div>
    </div>

    <div class="story-button-container">
      <app-story-button
        [storyText]="'In a distant land far far away, in the kingdom of nottinghamshire lived a
        beautiful young lady by the name of Raji. Raji was a manager at the o2 store there, a smart
        and kind lady she was, for she had studied business and law, loved doggies and bubble tea.'"
        [id]="'story-toggle-2'"
        [buttonClassName]="'story-button-2'"
      ></app-story-button>
    </div>
  </div>

</div>
