<div class="main-container">
  <div class="header">
    <h1 class="heading-primary">
      <span class="heading-primary-main">Our Story</span>
    </h1>
  </div>

  <div class="story-area-container">

    <div class="click-here-container">
      <p class="click-here">Click the book to find out how we got here! :)</p>
      <div class="pointer right"></div>
    </div>

    <div class="book-container">
      <div id="cardflip" (click)="flipCard()">
        <div class="inside">

            <div class="story-row">
              <div class="story-picture-container">
                <div class="story-picture story-pic-1"></div>
              </div>
              <p>
                Once upon a time there lived a handsome young man by the name of Rohit (that’s me!) from Leamington Spa.
                He was a bit of a nerd, enjoyed coding, playing guitar and gym.
              </p>

              <div class="story-picture-container">
                <div class="story-picture story-pic-2"></div>
              </div>
              <p>
              In the kingdom of Nottinghamshire there was a beautiful young maiden by the name of Raji. Raji loved dogs, movies and bubble tea.
              </p>

              <p>
              Now even though they lived very close to each other while Rohit went to the University of Nottingham, they did not know!
                It was only till after uni they were connected by fate (and the internet).
              </p>
              <p>
              The future Mr and Mrs Shukla met in the summer of 2015 and their first at the super exclusive and magical...TGI Fridays!
                The first date felt as though they had always known each other. They couldn’t wait to see each other again!
              </p>
              <p>
              From that moment on, they had many adventures together, discovering their common love for gangster movies, Nandos, Gauchos
                (if you know, you know), doggies, Rammstein and a good horror film.
              </p>

              <p>
              Rohit and Raji went on many trips together, celebrating Rohit’s 30th in Egypt, Raji’s 30th in Crete, and making many friends wherever they roamed.
              </p>

              <p>
              It was from this that Rohit knew he had the perfect stage to set his devious plans in motion. Having spoken about going on holiday for a while, he took great personal delight in making Raji pick her own destination to be proposed to in! The fated place, would end up being the very beautiful Punta Cana in the Dominican Republic.
              </p>

              <p>
              When the time came, Rohit had prepared everything beforehand, but on the actual day they both got heat stroke! Which meant it had to be delayed by a day. The staff at reception did not get the memo, and called the room soon after to wish us congratulations on the proposal, luckily for me, Raji was K-O from sunstroke and good rum!
              </p>

              <p>
              The day came and Raji wore a sparkly dress and they headed out to dinner. They walked up to the beach and the path leading up to the restaurant was lit up with candles. (I guess you could call it a ‘ro-mantic’ setting, badoom tsssh)
              </p>

              <p>
              They were greeted by the restaurant owner who was in on the plan and led Raji and Rohit through a rose petaled arch, out to the beach front where, to a candlelit table and champagne on ice, all under the stars at night.
              </p>

              <p>
              Leading up to the table, ‘A Thousand Years’ by Christina Perri played and against the sound of the waves of the sea.
              </p>

              <p>
              Raji was led to the table and was blown away by how beautiful it was. She turned and saw Rohit on one knee, holding an open box with a beautiful ring inside.
              </p>

              <p>
              Rohit asked Raji the most beautiful question and of course she said YES!
              </p>

              <p>
              And here we are! We look forward to seeing all of you on the big day and celebrating this momentous occasion.
              </p>

            </div>
        </div>


        <div id="card1" [ngClass]="{'flip': flip }" >
          <div class="front">
            <p class="front-cover-title">
              How Rohit Met Raji
            </p>

          </div>
          <div class="back">
            <!--Opened-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
