<div class="main-container">
  <div class="header">
    <h1 class="heading-primary">
      <span class="heading-primary-main">Our Story</span>
    </h1>
  </div>

  <div class="story-area-container">

    <div class="flex-grid">
      <div class="col">
        <app-story-button
          [title]="'Rohit'"
          [imageName]="'story1.jpg'"
          [storyText]="'Once upon a time there lived a handsome young man by the name of Ro. Ro was an accomplished young man with a 100kg bench press, degree in mechanical engineering and a love for dinosaurs and coding.'"
        ></app-story-button>
        <app-story-button
          [title]="'button'"
          [imageName]="'ring.png'"
          [storyText]="''"
        ></app-story-button>
        <app-story-button
          [title]="'button'"
          [imageName]="'ring.png'"
          [storyText]="''"
        ></app-story-button>
      </div>

      <div class="col">
        <app-story-button
          [title]="'Raji'"
          [imageName]="'story2.jpg'"
          [storyText]="'In a distant land far far away, in the kingdom of nottinghamshire lived a beautiful young lady by the name of Raji. Raji was a manager at the o2 store there, a smart and kind lady she was, for she had studied business and law, loved doggies and bubble tea.'"
        ></app-story-button>
        <app-story-button
          [title]="'button'"
          [imageName]="'ring.png'"
          [storyText]="''"
        ></app-story-button>
        <app-story-button
          [title]="'button'"
          [imageName]="'ring.png'"
          [storyText]="''"
        ></app-story-button>
      </div>

      <div class="col">
        <app-story-button
          [title]="'button'"
          [imageName]="'ring.png'"
          [storyText]="''"
        ></app-story-button>
        <app-story-button
          [title]="'button'"
          [imageName]="'ring.png'"
          [storyText]="''"
        ></app-story-button>
        <app-story-button
          [title]="'button'"
          [imageName]="'ring.png'"
          [storyText]="''"
        ></app-story-button>
      </div>
    </div>

  </div>
</div>
