@import '../common-styles';

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.heading-primary {
  text-align: center;
  color: black;

  @media screen and (max-device-width: 480px) {
    display: none;
  }
}

.heading-primary-main {
  display: block;
  font-size: 10vw;
  font-weight: 400;
  letter-spacing: 1vw;
  animation: moveInLeft 1s ease-out;
  font-family: $primary-font;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/img/bg6.jpg');
  background-size: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 74%, 0% 100%);
}

.story-area-container {
  position: absolute;
  height: 65vh;
  margin-top: 35vh;
  width: 75vw;
  font-size: 2rem;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media screen and (max-device-width: 480px) {
    margin-top: 15vh;
    height: 80vh;
  }
}

.story-button-container {
  width: 33.33vw;
  text-align: center;
}

.heart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.33vw;
}

.heart {
  width: 50%;
  height: 50%;
  background-image: url('../../assets/img/heart.png');
  background-size: contain;
  background-repeat: no-repeat;
}
