@import '../common-styles.scss';

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;

  &-picture {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/img/collagebw.jpg");
    background-size: contain;
    border: 1px solid black;
  }
}

.heading-primary {
  text-shadow: -1px 0 $gold-outline, 0 1px $gold-outline, 1px 0 $gold-outline, 0 -1px $gold-outline;
  color: $dark-grey;
}

.heading-primary-main {
  display: block;
  font-size: 10vw;
  font-weight: 400;
  letter-spacing: 1vw;
  animation: moveInLeft 1s ease-out;
  font-family: $primary-font;

}

.welcome-names-sub {
  font-family: $primary-font;
  display: block;
  font-size: 1.5vw;
  font-weight: 300;
  letter-spacing: 0.5vw;
}

.welcome-names-sub span {
  color: $pink;
  font-weight: bold;
}

.heading-primary-sub {
  font-family: $primary-font;
  display: block;
  font-size: 1.5vw;
  font-weight: 300;
  letter-spacing: 0.5vw;
  animation: moveInRight 1s ease-out;
}

.heading-container {
  display: flex;
  flex: auto;
  align-items: center;
  flex-direction: column;
  height: 40vh;
  width:100%;
}

.count-down-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rsvp-button-container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.menu-button-container {
  padding-top: 5px;
  padding-right: 5px;
}

.top-headings-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.welcome-names-container,
.heading-primary-container {
  width: 50%;
}

.welcome-names-container {
  display: flex;
  justify-content: flex-end;
}

.headings-primary-container {
  display: flex;
  justify-content: flex-start;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
