@import '../common-styles.scss';

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  margin-bottom: 50px;

  &-picture {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/img/collagebw.jpg");
    background-size: contain;
    border: 1px solid black;
  }
}

.heading-primary {
  text-shadow: -1px 0 $gold-outline, 0 1px $gold-outline, 1px 0 $gold-outline, 0 -1px $gold-outline;
  color: black;
  text-align: center;

  @media screen and (max-device-width: 480px) {
    text-shadow: none;
  }

  @media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  }
}

.heading-primary-main {
  display: block;
  font-size: 10rem;
  font-weight: 400;
  letter-spacing: 1vw;
  animation: moveInLeft 1s ease-out;
  font-family: $primary-font;

  @media screen and (max-device-width: 480px) {
    font-size: 3rem;
  }

  @media screen and (min-device-width: 768px) and (max-device-width: 1024px){
    font-size: 7.5rem;
  }
}

.welcome-names-sub {
  font-family: $primary-font;
  display: block;
  font-size: 1.5vw;
  font-weight: 300;
  letter-spacing: 0.5vw;
  color: black;
}

.welcome-names-sub span {
  color: $pink;
  font-weight: bold;
}

.heading-primary-sub {
  font-family: $primary-font;
  display: block;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.5vw;
  animation: moveInRight 1s ease-out;
  color: black;

  @media screen and (max-device-width: 480px) {
    font-size: 1rem;
  }
}

.heading-container {
  display: flex;
  flex: auto;
  align-items: center;
  flex-direction: column;
  height: 40vh;
  width:100%;

  @media screen and (max-device-width: 480px) {
    height: 18vh;
  }

  @media screen and (min-device-width: 768px) and (max-device-width: 1024px){
    height: 30vh;
  }
}

.count-down-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rsvp-button-container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.menu-button-container {
  padding-top: 5px;
  padding-right: 5px;
}

.top-headings-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.heading-primary-container {
  width: 100%;

  @media screen and (max-device-width: 480px) {
    text-align: center;
  }
}

.headings-primary-container {
  display: flex;
  justify-content: flex-start;
}

.home-button {
  width: 85px;
  height: 80px;
  background-color: white;
  position: fixed;
  bottom: 10px;
  right: 3.5vw;
  z-index: 5000;
  border: 2px solid $gold-outline;
  display: flex;
  justify-content: center;
  align-items: center;
  //box-shadow: 0 1rem 2rem $dark-grey;
}

.home-icon {
  position: relative;
  background-color: transparent !important;
  transform: rotate(90deg);
}

.home-icon,
.home-icon::before,
.home-icon::after {
  width: 3rem;
  height: 2px;
  background: black;
  display: inline-block;
}

.home-icon::after {
  top: 1rem;
  transform: rotate(45deg);
}

.home-icon::before {
  top: -1rem;
  transform: rotate(-45deg);
}

.home-icon::before,
.home-icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s;
}

.home-button:hover .home-icon::before {
  left: -3.5rem;
  top: -1.5rem;
  width: 3.8rem;
  height: 3.5px;
  transform: rotate(-55deg);
}

.home-button:hover {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 0px;
  background-color: transparent;
}

.home-button:hover .home-icon::after {
  left: -3.5rem;
  top: 1.5rem;
  width: 3.8rem;
  height: 3.5px;
  transform: rotate(55deg);
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
