@import '../common-styles.scss';

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.particles-container {
  height: 100vh;
  width: 100vw;
  z-index: 0;
  background-image: url('../../assets/img/bg14.jpg');
  background-size: cover;
}

.heading-primary {
  display: flex;
  align-items: flex-end;
  color: black;
  text-align: center;
  height: 43%;

  @media screen and (max-device-width: 480px) {
    display: none;
  }
}

.heading-primary-main {
  display: block;
  font-size: 9rem;
  font-weight: 400;
  letter-spacing: 1vw;
  animation: moveInLeft 1s ease-out;
  font-family: $primary-font;

  @media screen and (max-device-width: 480px) {
    font-size: 2rem;
  }

  @media screen and (min-device-width: 768px) and (max-device-width: 1024px){
    font-size: 7.5rem;
  }
}

.heading-primary-sub {
  font-family: $primary-font;
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.5vw;
  animation: moveInRight 1s ease-out;
  color: black;
}

.sub-header {
  display: flex;
  align-items: center;
  height: 25%;
  color: black;
  font: $secondary-font;

  @media screen and (max-device-width: 480px) {
    display: none;
  }
}

.mobile-nav-bar {
  display: none;

  @media screen and (max-device-width: 480px) {
    color: white;
    font-size: 1rem;
    height: 10%;
    display: flex;
    padding-left: 18px;
    align-items: center;
    padding-top: 10px;
    background-color: black;
    position: fixed;
    z-index: 1000;
    width: 100%;
    font-family: $primary-font;
    font-weight: 400;
    letter-spacing: 1vw;
  }
}

.heading-container {
  display: flex;
  flex: auto;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width:100%;
}

.count-down-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 50%;
  width: 100%;
  flex-direction: row;

  @media screen and (max-device-width: 480px) {
    padding-top: 18.9%;
    height: 100%;
  }
}

.ro-avatar {
  width: 15%;
  height: 100%;
  background-image: url('../../assets/img/ro_avatar1.png');
  background-repeat: no-repeat;

  @media screen and (max-device-width: 480px) {
    width: 30%;
    background-size: contain;
    background-position: center;
  }
}

.raji-avatar {
  width: 15%;
  height: 100%;
  background-image: url('../../assets/img/raji_avatar1.png');
  background-repeat: no-repeat;

  @media screen and (max-device-width: 480px) {
    width: 30%;
    background-size: contain;
    background-position: center;
  }
}

.rsvp-button-container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.menu-button-container {
  padding-top: 5px;
  padding-right: 5px;
}

.top-headings-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  @media screen and (max-device-width: 480px) {
    display:none;
  }
}

.heading-primary-container {
  width: 100%;

  @media screen and (max-device-width: 480px) {
    text-align: center;
  }
}

.headings-primary-container {
  display: flex;
  justify-content: flex-start;
}

.home-button {
  width: 85px;
  height: 80px;
  background-color: transparent;
  position: fixed;
  bottom: 10px;
  right: 3.5vw;
  z-index: 5000;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-icon {
  position: relative;
  background-color: transparent !important;
  transform: rotate(90deg);
}

.home-icon,
.home-icon::before,
.home-icon::after {
  width: 3rem;
  height: 4px;
  background: black;
  display: inline-block;
}

.home-icon::after {
  top: 1rem;
  transform: rotate(45deg);
}

.home-icon::before {
  top: -1rem;
  transform: rotate(-45deg);
}

.home-icon::before,
.home-icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s;
}

.home-button:hover .home-icon::before {
  left: -3.5rem;
  top: -1.5rem;
  width: 3.8rem;
  height: 3.5px;
  transform: rotate(-55deg);
}

.home-button:hover {
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-left: 4px solid black;
  border-top: 0px;
  background-color: transparent;
}

.home-button:hover .home-icon::after {
  left: -3.5rem;
  top: 1.5rem;
  width: 3.8rem;
  height: 3.5px;
  transform: rotate(55deg);
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
