<div class="top-headings-container">
  <div class="heading-primary-container">
    <span class="heading-primary-sub">September 26th 2020 &#9829; Birmingham</span>
  </div>

  <div class="welcome-names-container">
    <div class="welcome-names-sub" *ngIf="(firstName && lastName) != undefined" >
      Welcome,
      <span>
        {{firstName}} {{lastName}}
      </span>
    </div>
    <div class="welcome-names-sub" *ngIf="(firstName && lastName) == undefined">
      Welcome,
      <span>
        Guest
      </span>
    </div>
  </div>
</div>
  <header class="header">
  <app-menu-button></app-menu-button>
  <div class="heading-container">
    <h1 class="heading-primary">
      <span class="heading-primary-main">Rohit & Raji</span>
    </h1>
  </div>
  <div class="header-picture">
    <div class="count-down-container">
      <app-count-down-timer></app-count-down-timer>
    </div>
    <div class="rsvp-button-container">
      <app-rsvp-button
        (userDetails)="onButtonPress($event)"
        [firstName]="firstName"
        [lastName]="lastName"
      ></app-rsvp-button>
    </div>
  </div>
</header>
