{{firstName}}
{{lastName}}
<span class="heading-primary-sub">September 26th 2020 &#9829; Birmingham</span>
<header class="header">
  <app-menu-button></app-menu-button>
  <div class="heading-container">
    <h1 class="heading-primary">
      <span class="heading-primary-main">Rohit & Raji</span>
    </h1>
  </div>
  <div class="header-picture">
    <div class="count-down-container">
      <app-count-down-timer></app-count-down-timer>
    </div>
    <div class="rsvp-button-container">
      <app-rsvp-button (userDetails)="onButtonPress($event)"></app-rsvp-button>
    </div>
  </div>
</header>
