<div class="mobile-nav-bar">
  <h1 class="mobile-nav-bar-header">
    {{mobileNavBarTitle}}
  </h1>
</div>
<header class="header">
  <app-menu [currentSection]="currentSection"></app-menu>
    <div class="particles-container">
      <div class="heading-container">
        <div class="heading-primary">
          <div class="heading-primary-main-container">
            <h1 class="heading-primary-main">
              Rohit Weds Raji
            </h1>
          </div>
          <span class="heading-primary-sub">
            <div class="line"></div>
            <p class="heading-primary-sub-text">September 26th 2020 &#9829; Birmingham</p>
            <div class="line"></div>
          </span>
        </div>
        <div class="count-down-container">
          <div class="ro-avatar"></div>
          <app-count-down-timer style="height: 100%;"></app-count-down-timer>
          <div class="raji-avatar"></div>
        </div>
      </div>
      <particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles>
    </div>
</header>

<a (click)="scrollToTop()" class="home-button">
  <div class="home-icon"></div>
</a>
