.btn {
  animation: kakashi 1s ease-out;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn-style {
  font-family: 'Great Vibes', cursive;  color: #ffffff;
  font-size: 2rem;
  background: rgba(52, 65, 72, 0.8) url("../../assets/img/ring.png");
  background-size: contain;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
}

.btn:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-style:after {
  background-color: rgba(52, 65, 72, 0.4);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

@keyframes kakashi {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
